@charset "UTF-8";

body {
  font-family: "futura-pt", "Noto Sans JP", "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, 游ゴシック, YuGothic,
    sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

img {
  width: 100%;
  vertical-align: bottom;
}

li {
  list-style-type: none;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #333;
  display: inline-block;
}

p {
  letter-spacing: 0.21em;
  line-height: 2.1em;
  color: #333;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 0.875rem;
  }
}

.wrapper {
  padding-inline: 150px;
  line-height: 1.6;
  letter-spacing: 0.12em;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-inline: 85px;
  }
}
@media screen and (max-width: 425px) {
  .wrapper {
    padding-inline: 30px;
  }
}

/*----fade-------------- */
.fadein {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1.5s ease;
}

.right {
  opacity: 0;
  transform: translateX(40px);
  transition: all 1.5s ease;
}

.left {
  opacity: 0;
  transform: translateX(-40px);
  transition: all 1.5s ease;
}

/*----slide------- */
.slide-wrap {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14rem;
  color: #fffccd;
  font-weight: 700;
}

.slide-text {
  display: inline-block;
  animation: slide 50s linear infinite;
  color: #f8f6f3;
  -webkit-text-stroke: 5px #f7f08d;
  /* アニメーション設定 */
}

.slide {
  display: inline-block;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);    /* テキストの幅だけ移動 */
  }
}

@media (max-width: 768px) {
  .slide-wrap {
    font-size: 8rem;
  }
}


/*----section-title------- */
.section-title {
  margin-bottom: 60px;
  letter-spacing: 1;
}

.section-title h2 {
  font-size: 2.5rem;
  color: #006666;
  letter-spacing: 0.03em;
}

.section-title p {
  font-size: 0.85rem;
  color: #f698e0;
  font-weight: bold;
}

section {
  padding-block: 130px;
  background-color: #f8f6f3;
  font-size: 0.75rem;
  color: #f698e0;
}

@media (max-width: 768px) {
  .section-title {
    margin-bottom: 30px;
  }

  .section-title h2 {
    font-size: 1.9rem;
  }

  .section-title p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 425px) {
  section {
    padding-block: 80px;
  }
}
/* ---btn-------------- */
.btn-wrapper {
  text-align: center;
}

.btn {
  border: 1.5px solid black;
  position: relative;
  width: 270px;
  height: 70px;
  line-height: 70px;
  /* 行の高さ(heightと同じ値にする) */
  overflow: hidden;
  cursor: pointer;
}

.btn-text {
  position: absolute;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 1.3rem;
  letter-spacing: 0.2em;
  font-weight: 700;
  transition: all 0.3s;
}

.arrow-right {
  position: relative;
  padding-right: 25px;
}

.arrow-right::after {
  /* くの字の表示設定 */
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  width: 10px;
  /* くの字を山なりに見た時、左側の長さ */
  height: 10px;
  /*右側の長さ */
  border-top: 2px solid #000;
  /*左側の太さと色 */
  border-right: 2px solid #000;
  /* 右側の太さと色 */
  transform: rotate(45deg);
  /* 向き */
}

.btn-text:nth-child(1) {
  top: 0;
}

.btn-text:nth-child(2) {
  top: -100%;
}

.btn:hover .btn-text:nth-child(1) {
  top: 100%;
}

.btn:hover .btn-text:nth-child(2) {
  top: 0;
}

.btn-text-img {
  width: 35px;
  padding-bottom: 16px;
}

@media (max-width: 768px) {
  .btn {
    width: 200px;
    height: 50px;
    line-height: 50px;
  }

  .btn-text {
    font-size: 0.875rem;
  }
}


/* ---header-------------- */
header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  background-color: #f8f6f3;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  align-items: center;
}

h1 {
  display: flex;
  align-items: center;
  height: 90px;
  border-right: 2px solid #000;
  padding-inline: 40px;

}

h1 img {
  width: 170px;
}

h1 a {
  line-height: 1;
}

header nav {
  align-items: center;
  text-align: right;
  margin-left: auto;
  padding-right: 50px;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li {
  margin-left: 8px;
  font-size: 1.3rem;
  width: 120px;
}

@media (max-width: 768px) {

  h1 {
    border-right: none;
  }

  header nav {
    width: 100%;
    height: 100vh;
    background: #f8f6f3f1;
    padding: 50px;
    position: fixed;
    top: 0;
    left: 0px;
    bottom: 0;
    opacity: 0;
    overflow-y: auto;
    transition: 0.5s;
    z-index: 20;
    text-align: center;
    visibility: hidden;

  }

  .open nav {
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  header nav ul {
    margin-top: 40px;
    flex-direction: column;
  }

  header nav ul li {
    padding: 35px 0;
    text-align: center;
  }

  .toggle_btn {
    width: 40px;
    height: 80px;
    position: relative;
    cursor: pointer;
    z-index: 20;
    margin-right: 40px;
  }

  .toggle_btn span {
    display: block;
    width: 40px;
    height: 3px;
    background-color: #333;
    transition: .5s;
    position: absolute;
  }

  .toggle_btn span:nth-child(1) {
    top: 28px;
  }

  .toggle_btn span:nth-child(2) {
    top: 38px;
  }

  .toggle_btn span:nth-child(3) {
    top: 48px;
  }

  .open .toggle_btn span {
    background-color: #333;
  }

  .open .toggle_btn span:nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
  }

  .open .toggle_btn span:nth-child(2) {
    transform: translateY(-5px) rotate(45deg);
  }

  .open .toggle_btn span:nth-child(3) {
    opacity: 0;
    padding-right: 40px;
  }
}

/*---mv---------- */
.mv {
  background-image: url(../img/mv-bg-ground.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1.5px solid #000;
  padding-top: 190px;
}

.mv-frame {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: content-box;
  max-width: 1025px;
  padding: 5%;
  background-color: #fff;
  border-radius: 30px;
}
.mv-text {
  padding-block: 50px;
  width: 48%;
  text-shadow: 2px 2px 10 #fff, -2px -2px 10 #fff;
}
.mv-text h2 span {
  color: #4a958b;
}
.mv-text h2 {
  font-family: "Noto Sans JP";
  font-weight: 700;
  letter-spacing: 0.15em;
  margin-bottom: 40px;
  line-height: 1.8;
  font-size: 2rem;
  color: #040404;
}
.mv-text h2 img {
  width: 300px;
  margin: 0 10px 5px -5px;
}
.mv-text p {
  font-family: "Noto Sans JP";
  font-weight: 600;
  font-size: 1.12rem;
  line-height: 1.8;
  letter-spacing: 0.3em;
  color: #040404;
}
.mv-text p span {
  font-weight: inherit;
  background: linear-gradient(
    0deg,
    #fdf3c1 40%,
    #fdf3c1 40%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0) 100%
  );
}
.mv-img {
  position: relative;
  width: 48%;
}
.bg-pc{
  height: auto;
}
.mv-img video {
  position: absolute;
  width: 90%;
  top:5%;
  left: 5%;
}

.img-1 {
  position: absolute;
  left: 10%;
  bottom: -40px;
  width: 150px;
}
.img-2 {
  position: absolute;
  right: 10%;
  bottom: -10px;
  width: 150px;
  animation: bounce 1s infinite ease-in-out;
}

/* タブレット */
@media (min-width: 768px) and (max-width: 1024px) {
  /* タブレット向けのスタイル */

  .mv-frame {
    width: 85%;
  }
  .mv-text h2 img {
    width: 230px;
    vertical-align: bottom;
  }
  .mv-text h2 {
    font-size: 1.4rem;
  }
  .mv-text p {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  /* モバイル向けのスタイル */
  .mv-frame {
    flex-direction: column;
    width: 75%;
  }
  .mv-text,
  .mv-img {
    width: 100%;
    text-align: center;
  }
  .mv-text h2 img {
    width: 200px;
    vertical-align: bottom;
  }
  .mv-text h2 {
    font-size: 1.4rem;
  }
  .mv-text p {
    font-size: 1rem;
  }
  .img-1 {
    position: absolute;
    left: 10%;
    bottom: -15px;
    width: 100px;
  }
  .img-2 {
    position: absolute;
    right: 10%;
    bottom: 10px;
    width: 100px;
    animation: bounce 1s infinite ease-in-out;
  }
}

@media screen and (max-width: 425px) {
  .mv {
    padding-block: 130px 50px;
  }
  .mv-text {
    padding-block: 30px;
  }
  .mv-text h2 {
    font-size: 1.2rem;
  }
  .mv-text p {
    font-size: 0.875rem;
    letter-spacing: 0.18em;
  }
}
/* ---about---------------- */
.about {
  border-block: 1.5px solid #000000;
  background-image: url(../img/background.png);
  background-position: center;
  background-repeat: repeat;
}

.about-text {
  width: 49%;
  margin-right: 80px;
  padding-bottom: 80px ;
}

.about p{
  margin-bottom: 20px;
  max-width: 550px;
  line-height: 2.2em;
}
.meta-link {
  color: #006666;
}

.meta-link:hover {
  transform: scale(1.05);
  cursor: pointer;
  background: linear-gradient(transparent 70%, #f698e0 50%);
}

.about-contain {
  width: 49%;
}

.about-content {
  display: flex;
  justify-content: space-between;
}

.about-circle {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-circle li {
  position: relative;
  margin-top: 30px;
}

.circle {
  width: 200px;
  height: 150px;
  background: rgb(229, 229, 229);
  border-radius: 50%;
}

.about-circle_top {
  margin-right: auto;
}

.about-circle_center {
  margin-left: auto;
}

.about-circle_bottom {
  margin-right: auto;
}

.about-icon-yurayura {
  width: 120px;
  position: absolute;
  top: -40%;
  left: 20%;
  transform-origin: center bottom;
  transition: 0.3x;
}

.about-icon-yurayura:hover {
  cursor: pointer;
  animation: yurayura 2s linear infinite;
}

@keyframes yurayura {
  0%,
  100% {
    transform: rotate(8deg);
  }

  50% {
    transform: rotate(-8deg);
  }
}

.about-icon-girls {
  width: 200px;
  position: absolute;
  top: 9%;
}

.about-icon_kuruma {
  width: 120px;
  position: absolute;
  animation: anim 1.5s infinite;
}

@keyframes anim {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(5px);
  }
}

.about-icon_kuma {
  width: 100px;
  position: absolute;
  top: 20%;
  right: 0;
}

.about-icon_kou {
  width: 120px;
  position: absolute;
  left: -4%;
}

.about-icon_point {
  width: 120px;
  position: absolute;
  top: -5%;
  left: 40%;
}

.emoji-cracker {
  position: absolute;
  top: -40%;
  left: 15%;
  animation: bounce 1s infinite ease-in-out;
}

.emoji-clapping {
  position: absolute;
  top: -40%;
  right: 15%;
  animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    translate: 0;
  }

  50% {
    translate: 0 -10px;
  }
}

.btn-emoji {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  padding: 4px 16px;
  border-radius: 7px;
  background-color: #ffffff;
  text-align: left;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}

.btn-emoji::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: #ffffff transparent transparent;
  translate: -50% 100%;
}

@media (max-width: 930px) {
  .about-content {
    flex-direction: column;
    width: 100%;
  }


  .about-text {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 80px;
  }

  .about-description {
    font-size: 0.875rem;
  }

  .about-contain {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .about-text {
    padding-bottom: 50px;
  }

  li.about-circle_center,.about-circle_bottom{
    display: none;
  }
  
}

/* scroll-infinity ------------------------*/
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.scroll-infinity_wrap {
  display: flex;
  overflow: hidden;
}

.scroll-infinity_list {
  display: flex;
  align-items: center;
}

.scroll-infinity_list-left {
  animation: infinity-scroll-left 50s infinite linear 0.5s both;
}

.scroll-infinity_item {
  margin-right: 10px;
}

.scroll-infinity_item>img {
  width: 50px;
}

.scroll-infinity_list p {
  width: 200px;
  font-size: 1.15rem;
}

@media screen and (max-width: 425px) {
  .about-text {
    padding-bottom: 50px;
  }

  li.about-circle_center,.about-circle_bottom{
    display: none;
  }

}
/* ---how----------------- */

.how-tree{
  max-width: 100%;
}

.how-contain {
  position: relative;
  max-width: 700px;
  margin: 0 auto ;
}

.how-tree-img {
  background-image: url(../img/mv_tree03.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  max-width: 100%;
  height: 500px;
}

.speech_bubble1 {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #000000;
  background-color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  transition: 0.3s;
}

.speech_bubble1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-style: solid;
  border-width: 20px 0 0 20px;
  border-color: #000000 transparent transparent;
  translate: -50% 100%;
}

.speech_bubble1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-style: solid;
  border-width: 15.2px 0 0 15.2px;
  border-color: #ffffff transparent transparent;
  translate: calc(-50% + 0.4px) 100%;
}

.speech_bubble2 {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #000000;
  background-color: #ffffff;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 16px;
  line-height: 1.5;
  transition: 0.3s;
}

.speech_bubble2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #000000 transparent transparent;
  translate: -50% 100%;
}

.speech_bubble2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-style: solid;
  border-width: 15.2px 15.2px 0 0;
  border-color: #ffffff transparent transparent;
  translate: calc(-50% - 0.4px) 100%;
}

.bubble:hover {
  transform: scale(1.12);
}

.bubble {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-right: 15px;
  box-sizing: content-box;
  filter: drop-shadow(5px 5px 0px #f698e0);
  position: absolute;
}

.bubble1 {
    top: 15%;
    left: 0;
  }

  .bubble2 {
    top: 0;
    left: 35%;
  }

  .bubble3 {
    top: 15%;
    right: 0;
  }

.how-text {
  text-align: center;
  padding-block: 25px;
}

.how-text span {
  background: linear-gradient(transparent 60%, #f698e0 50%);

}

@media (min-width: 768px) and (max-width: 996px) {
  .how-tree-img {
    background-position: center;
  }

  .speech_bubble1,
  .speech_bubble2 {
    font-size: 0.3rem;
  }
}

@media (max-width: 785px) {
  .how-tree-img {
    background-position: bottom center;
  }
  .bubble1 {
    top: 30%;
    left: 0;
  }

  .bubble3 {
    top: 20%;
    right: 0;
  }
}

@media screen and (max-width: 425px) {

  .speech_bubble1 ,.speech_bubble2{
    padding: 8px;
    font-size: 0.875rem;
  }
  .bubble1 {
    top: 50px;
  }
  .bubble2 {
    top: 0%;
  }
  .bubble3 {
    top: 80px;
  }

.how-tree-img {
  height: 320px;
}
}

/* ---voice----------------*/
.voice {
  border-block: 1.5px solid #000000;
  background-image: url(../img/background.png);
  background-position: center;
  background-repeat: repeat;
}

.voice-slide-items {
  max-width: 90vw;
  margin: 0 auto;
  position: relative;
  padding-left: 20px;
  }

.voice-num {
  width: 95%;
  background-color: #ffffff;
  padding: 4% 6%;
  font-size: 0.875rem;
  letter-spacing: 0.3em;
  text-align: right;
  border-top: 1.5px solid #000000;
  border-inline: 1.5px solid #000000;
  color: #000
}

.voice-flex {
  width: 95%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1.5px solid #000000;
  padding: 35px 40px;
}
.slick-prev:before, .slick-next:before {
  font-size: 30px;
  color: black;
}

.voice-item-left {
  width: 55%;
  min-height: 250px;
}
.voice-item-left h3 {
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: #006666;
  letter-spacing: 0.025em;
}
.voice-item-left .voice-text {
  font-size: 0.7rem;
  margin-bottom: 10px;
  max-width: 350px
}

.voice-item-right {
  width: 38%;
}
.voice-item-right .item-img {
  position: relative;
  z-index: 1;
}
.voice-item-right .item-img img {
  border: 1.5px solid #000000;
}
.voice-item-right .item-img::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  width: 100%;
  height: 100%;
  background-color: #fdf3c1;
  z-index: -1;
  border: 1.5px solid #000000;
}
.voice-item-right .item-name {
  font-size: 0.65rem;
  margin-block: 20px;
}

@media (max-width: 768px) {
  .voice-item {
    width: 100%
  }

  .voice-num {
    width: 90%;
    padding: 2% 3%;
    font-size: 0.75rem;
    margin: 0 auto;
  }

  .voice-flex {
    width: 90%;
    padding: 30px 30px  ;
    margin: 0 auto;
  }
  .voice-item-left h3 {
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .voice-item-left .voice-text {
    font-size: 0.75rem;
    margin-bottom: 10px;
  }
  .voice-item-right .item-name {
    font-size: 0.65rem;
    margin-block: 20px;
  }
  .slick-prev{
    margin-left: 20px;
  }
  .slick-next{
    margin-right: 15px;
  }
}

/* ---event--------------- */

.flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.event-list {
  width: 70%;
}

.event-item {
  display: flex;
  border-bottom: 1px solid;
  padding: 30px 20px;
  font-size: 1rem;
  color: #006666;
  align-items: center;
}

.event-item:hover {
  background-color: #ffffff;
}

.event-info {
  margin-right: 70px;
  text-align: center;
}

.event-date {
  margin-bottom: 5px;
}

.event-info span {
  background-color: #f698e0;
  color: #f8f6f3;
  font-size: 0.75rem;
  display: block;
  line-height: 2.5;
}

.event-text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 10rem;
  color: #fffccd;
  font-weight: 700;
}

.slide-text {
  display: inline-block;
  animation: slide 50s linear infinite;
  /* アニメーション設定 */
}

.slide {
  display: inline-block;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
    /* テキストの幅だけ移動 */
  }
}

.event-btn {
  background-color: #006666;
  width: 200px;
  border-radius: 25px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 4px;
  margin: 0 auto;
  margin-top: 40px;
  transition: 0.3s;
  position: relative;
}

.event-btn::after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 20px;
  right: 25px;
}

.event-btn a {
  color: #fff;
  padding: 15px 10px;
}

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }

  .event-list {
    width: 100%;
  }

  .event-item {
    align-items: center;
  }
}


/* decoration-img-music --------- */
.speech-box {
  background-color: #f8f6f3;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10%;
  padding-bottom: 15px;
}

.suggstion-btn-1 {
  width: 120px;
  background-color: #006666;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.speech-music {
  width: 300px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding: 16px;
  border: 2px solid #000000;
  background-color: #ffffff;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  filter: drop-shadow(5px 5px 0px #f698e0);
}

.speech-music::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-style: solid;
  border-width: 20px 0 0 20px;
  border-color: #000000 transparent transparent;
  translate: -50% 100%;
  transform: skew(-25deg);
  transform-origin: top;
}

.speech-music::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-style: solid;
  border-width: 15.2px 0 0 15.2px;
  border-color: #ffffff transparent transparent;
  translate: calc(-50% + 0.4px) 100%;
  transform: skew(-25deg);
  transform-origin: top;
}

.deco-music {
  background-color: #f8f6f3;
  display: flex;
  flex-direction: row-reverse;
  padding-inline: 10%;
  padding-bottom: 20px;
}

.deco-music-img {
  width: 300px;
}

/* ---footer-------------- */

footer {
  background-color: #f8f6f3;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 50px 70px 30px 70px;
}

footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer nav li {
  padding: 10px;
  font-size: 1.3rem;
}

.instagram-icon {
  display: flex;
  margin-top: 20px;
}

.kakashi ,.iruka{
  text-align: center;
  font-weight: 100;
  line-height: 0.1rem;
}
.kakashi {
  margin-right: 15px;
}

.instagram {
  background-color: #006666;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  font-size: 0.875rem;
  letter-spacing: 0.2em;
  display: inline-block;
  padding: 10px 40px;
}

footer ul li img {
  width: 50px;
}

.logo {
  width: 15%;
}

.copy {
  text-align: center;
  font-size: 10px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  footer nav {
    flex-direction: column-reverse;
    margin: 0;
  }
  footer nav ul{
    text-align: center;
  }

  .instagram {
    padding: 10px 25px;
  }

  .logo {
    display: none;
  }
}


/* ---howtouse-page------------------------------------- */

.howto-main {
  text-align: center;
  padding-top: 250px;
  position: relative;
}

.slide-howto {
  position: absolute;
  top: 70%;
}

.howto-main h2 {
  font-size: 2.1rem;
  color: #006666;
  letter-spacing: 0.03em;
}

.howto-main p {
  margin-bottom: 40px;
}


/* howto-animation ---------------------------- */

@keyframes infinity-scroll-left-bg {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.bg-icon-howtouse {
  display: flex;
  overflow: hidden;
  background-color: #f8f6f3;
}

.bg-icon-list {
  display: flex;
  padding-right: 130px;
  animation: infinity-scroll-left-bg 6s linear infinite;
}

.bg-icon-item {
  width: 80px;
}

.bg-icon-item img {
  width: 100%;
}

/* howto-items -------------------------------------- */

.howto-items {
  padding-top: 100px;
}

.howto-items li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 250px;
}

.howto-items li:nth-child(2),
.howto-items li:nth-child(4),
.howto-items li:nth-child(6) {
  flex-direction: row-reverse;
}

.howto-items li:nth-child(7) {
  margin-bottom: 200px;
}

li .howto-item-left {
  width: 45%;
  height: auto;
  position: relative;
  z-index: 1;
}

li .howto-item-left::before {
  content: "";
  position: absolute;
  top: 20px;
  right: -20px;
  width: 100%;
  height: 100%;
  background-color: #fdf3c1;
  z-index: -1;
  border: 1.5px solid #000000;
}

li .howto-item-left {
  width: 45%;
}

li .howto-item-right {
  width: 45%;
}

li .howto-item-right .howto-item-title {
  display: flex;
  flex-direction: column;
  /* 縦に並べる */
  align-items: flex-start;
  width: fit-content;
  /* 横幅を中身サイズに */
}

li .howto-item-right .howto-item-subtitle {
  display: inline;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  padding: 2px 15px;
  background-color: #f698e0;
  color: #ffffff;
  border: 1px solid #000000;
  border-bottom: none;
  font-weight: 700;
}

li .howto-item-right .howto-item-maintitle {
  display: inline;
  margin-bottom: 40px;
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  box-shadow: 5px 5px 0px 2px #006666;
  font-weight: 700;
}

li .howto-item-right .howto-text {
  margin-bottom: 15px;
  max-width: 90%;
}

.howto-items .btn-text-img {
  width: 180px;
  margin-top: 7px;
}

.howto-items .slide-wrap {
  padding-top: 50px;
}

@media (max-width: 768px) {
  .howto-items .wrapper {
    padding: 50px 60px;
    max-width: 1000px;
  }

  .howto-items li {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 130px;
  }

  .howto-items li:nth-child(2),
  .howto-items li:nth-child(4),
  .howto-items li:nth-child(6) {
    flex-direction: column-reverse;
  }
  .howto-items li:nth-child(7) {
    margin-bottom: 100px;
  }


  li .howto-item-left {
    width: 90%;
    margin: 0 auto;
  }

  li .howto-item-right {
    width: 100%;
    margin: 0 auto 15px;
  }

  li .howto-item-right .howto-item-title {
    padding-left: 15px;
  }

  li .howto-item-right .howto-item-subtitle {
    font-size: 0.65rem;
    padding: 0px 10px;
  }

  li .howto-item-right .howto-item-maintitle {
    margin-bottom: 30px;
    font-size: 0.875rem;
    padding: 7px 15px;
  }

  li .howto-item-right .howto-text {
    margin-bottom: 15px;
    max-width: 90%;
    margin-inline: auto;
  }

  .howto-items .btn-text-img {
    width: 180px;
    margin-top: 7px;
  }

  .howto-items .slide-wrap {
    padding-top: 50px;
  }
  .howto-items .btn-text-img {
    width: 130px;
    margin-top: 3px;
  }
}
